<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Book management panel</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link d-inline" href="/">
                    <img th:src="@{../../img/nav_logo.png}" id="nav_logo" width="60%" alt=":("/>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-500 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </ul>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Add new book</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">

                <form action="#"  th:action="@{/newBook}" th:object="${book}" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th  >Title</th> </br>
                            <td><input class="form-control" placeholder="-" type="text" th:value="${book.title}" name="title" required> </td>
                        </tr>
                        <tr>
                            <th >Author</th>
                            <td><input class="form-control" placeholder="-" type="text" th:value="${book.author}" name="author" required> </td>
                        </tr>
                        <tr>
                            <th >Publisher</th>
                            <td><input class="form-control" placeholder="-" type="text" th:value="${book.publisher}" name="publisher" required> </td>
                        </tr>
                        <tr>
                            <th >Amount of pages</th>
                            <td><input type="number" th:value="${book.numberOfPages}" name="numberOfPages" required> </td>
                        </tr>
                        <tr>
                            <th>Categories</th>
                            <td>
                                <li class="list-group-item" th:each="cat : ${allCategories}">
                                    <div class="ui_checkbox">
                                        <input type="checkbox" th:value="${cat.id}" th:field="${book.category}">
                                        <label th:text="${cat.name}"></label>
                                    </div>
                                </li>

                            </td>
                        </tr>
                        <tr>
                            <th>Date of publication</th>
                            <td><input type="date" th:value="${book.dateOfPublication}" name="dateOfPublication" required> </td>
                        </tr>
                        <tr>
                            <th>Is available</th>
                            <td>
                                <input type="checkbox" th:field="*{isAvailable}" value="true" name="isAvailable">
                            </td>
                        </tr>


                    </table>
                    <div class="float-end pe-2">
                        <a class="btn btn-primary" href="/books" role="button">Go back</a>
                        <input type="submit" value="Add book" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Biblioteka 2021</p>
    </div>
    <!-- /.container -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>