<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sing In</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="register.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<div>
    <h2 class="text-center">Forgot Password</h2>
</div>



<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
    <div th:if="${error != null}">
        <p class="text-danger">[[${error}]]</p>
    </div>
    <div th:if="${message != null}">
        <p class="text-warning">[[${message}]]</p>
    </div>
    <div class="border border-secondary rounded p-3">
        <div>
            <p>We will send an email with reset password link.</p>
        </div>
        <div>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
            </p>
            <p class="text-center">
                <input type="submit" value="Send" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>
</body>
</html>