<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Sing In</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="register.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<form role="form" th:action="@{/login}" th:method="post" >

  <div class="container pt-4">
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px; height:780px;" >
        <h4 class="card-title mt-3 text-center">Sign In</h4>
        <p class="text-center">Log in to start using site</p>
        <p class="divider-text">
          <span class="bg-light"></span>
        </p>
        <img class="d-block mx-auto mb-4" th:src="@{img/nav_logo.png}" id="nav_logo" alt=":(">
        <div th:if="${param.error}">
          <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <form>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
          </div> <!-- form-group// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Password" required />
          </div> <!-- form-group// -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sing In  </button>
          </div> <!-- form-group// -->
          <p class="text-center">Don't have an account? <a href="/registration">Sign Up</a> </p>
          <p class="text-center">Go to homepage <a href="/">Homepage</a> </p>
        </form>
      </article>
    </div> <!-- card.// -->

  </div>
</form>
<footer class="py-5 bg-dark fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Biblioteka 2021</p>
  </div>
  <!-- /.container -->
</footer>
</body>
</html>