<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="#"  th:action="@{/admin/update/{id}(id=${user.id})}"  th:object="${user}"  method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name">
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  <input type="submit" value="Update User">
</form>

</body>
</html>
